/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/

/* Main */

#main {
  background-color: #ffffff;
  color: #595959;
}

#main .inner {
  padding: 2rem 0 2rem 0;
  margin: 0 auto;
  max-width: 65rem;
  width: calc(100% - 6rem);
}

#main.alt {
  background-color: transparent;
}

#about {
  margin-bottom: 2rem;
  padding: 0 4rem 0 2rem;
}

#about .inner h3 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1rem;
  color: #45c3d3;
}

#about .inner p {
  color: #595959;
  font-size: 1.5rem;
}

#about .inner .scroll {
  width: 200px;
  margin-top: -2rem;
  margin-left: -1rem;
}

#about .buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
#about .button-solid {
  margin: 0;
  height: 2.94444444rem;
  padding-top: 0.3rem;
  width: 13rem;
}

@media screen and (max-width: 736px) {
  #main .inner {
    padding: 2rem 0 1rem 0;
    width: calc(100% - 3rem);
  }

  #main #about .inner .scroll {
    width: 200px;
  }

  #about .inner h3 {
    font-size: 1.5rem;
  }

  #about .inner p {
    font-size: 1.1rem;
  }

  #about {
    padding: 2em 4rem;
  }
}

@media screen and (max-width: 480px) {
  #about {
    padding: 2em 2rem;
  }
}
