/* IMAGE */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left,
.image.right {
  max-width: 30%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5em 1.25em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1.25em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 2.5em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

@media screen and (max-width: 736px) {
  .image.main {
    margin: 1.5em 0;
  }
}

/* TILES */

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 0 !important;
}

.tiles + * {
  border-top: 0 !important;
}

.tiles article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-transition: -moz-transform 0.25s ease, opacity 0.25s ease,
    -moz-filter 1s ease, -webkit-filter 1s ease;
  -webkit-transition: -webkit-transform 0.25s ease, opacity 0.25s ease,
    -webkit-filter 1s ease, -webkit-filter 1s ease;
  -ms-transition: -ms-transform 0.25s ease, opacity 0.25s ease,
    -ms-filter 1s ease, -webkit-filter 1s ease;
  transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease,
    -webkit-filter 1s ease;
  padding: 4em 4em 2em 4em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  height: 40vh;
  max-height: 40em;
  min-height: 23em;
  overflow: hidden;
  position: relative;
  width: 40%;
}

.tiles article .image {
  display: none;
}

.tiles article header {
  position: relative;
  z-index: 3;
}

.tiles article h3 {
  font-size: 2rem;
}

.tiles article h3 a:hover {
  color: inherit !important;
}

#one  article  p {
  font-size: 1.5rem;
}

.tiles article .link.primary {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.tiles article:before {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tiles article:after {
  background-color: rgba(36, 41, 67, 0.25);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tiles article:hover:before {
  opacity: 0;
}

.tiles article.is-transitioning {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -moz-filter: blur(0.5em);
  -webkit-filter: blur(0.5em);
  -ms-filter: blur(0.5em);
  filter: blur(0.5em);
  opacity: 0;
}

#rh {
  width: 100%;
}

.tiles article:nth-child(3n - 1),
.tiles article:nth-child(7n - 2),
.tiles article:nth-child(7n - 1) {
  width: 60%;
}

/* TILE COLORS */

.tiles article:nth-child(1n):before {
  background-color: #54e9fc;
}

.tiles article:nth-child(7n - 5):before {
  background-color: #fffac3;
}

.tiles article:nth-child(7n - 4):before {
  background-color: rgba(162, 249, 236, 0.8);
}

.tiles article:nth-child(7n - 3):before {
  background-color: #92f1fb;
}

.tiles article:nth-child(7n - 2):before {
  background-color: #54e9fc;
}

.tiles article:nth-child(7n - 1):before {
  background-color: rgba(162, 249, 236, 0.8);
}

.tiles article:nth-child(7n):before {
  background-color: #fffac3;
}

.trademark {
  font-size: .9rem;
  display: inline;
  vertical-align: text-top;
}

#one .trademark {
  font-size: .9rem;
  display: inline;
  vertical-align: text-top;
}

/* MAIN */

#main {
  background-color: #ffffff;
}

#main > * {
  border-top: solid 1px rgba(212, 212, 255, 0.1);
}

#main > *:first-child {
  border-top: 0;
}

#main > * > .inner {
  padding: 4em 0 2em 0;
  margin: 0 auto;
  max-width: 65em;
  width: calc(100% - 6em);
}

#main.alt {
  background-color: transparent;
  border-bottom: solid 1px rgba(212, 212, 255, 0.1);
}

#about {
  margin-bottom: 2rem;
}

#about h3 {
  color: #45c3d3;
  font-size: 2rem;
}

#about p {
  color: #595959;
  font-size: 1.25rem;
}

#about .inner .major a:hover h2 {
  color: #ffde00;
  transition: 0.3s ease-in-out;
}

#about > .inner > .buttons {
  margin-top: 2.5rem;
}

#about .inner .scroll {
  width: 200px;
  margin-top: -2rem;
  margin-left: -1rem;
}

#about .inner > .major {
  margin-bottom: 1rem;
}

/* MOBILE */

@media screen and (max-width: 1280px) {
  .tiles {
    display: block;
  }

  .tiles article {
    height: 20em;
    width: 100% !important;
  }

  .tiles article {
    padding: 4em 3em 2em 3em;
    height: 30vh;
    max-height: 30em;
    min-height: 20em;
  }

  #about h3 {
    color:#45c3d3;
    font-size: 2rem;
  }
}



@media screen and (max-width: 736px) {
  .tiles article h3 {
    font-size: 1.5em;
  }

  #main > * > .inner {
    padding: 3em 0 1em 0;
    width: calc(100% - 3em);
  }

  #rh {
    height: auto;
  }

  #about {
    padding: 3em 2rem 1em 2rem;
  }
  
  #about h3 {
    color:#45c3d3;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  #one  article  p {
    font-size: 1.1rem;
  }

  #about {
    padding: 3em 3rem 1em 3rem;
  }

  #about h3 {
    color: #45c3d3;
    font-size: 1.25rem;
  }
  
  #about p {
    color: #595959;
    font-size: 1.1rem;
  }
}